@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');

$mainPadding: 2rem 6rem 0 6rem;
$pageBackgroundImg: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
$navColor: black;
$profileBackgroundCol: grey;
// background-color: #8BC6EC;
// background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

$profileContentBackCol: white;


$gameBoxShadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
$victoryBackground: rgba(14, 186, 14, 0.388);
$lostBackground: rgba(228, 15, 15, 0.519);
$remakeBackground: grey;

$multikillBackground: red;


html{
    
    // background-color: #8BC6EC;
}
html, body{
    min-height: 100%;
    height: 100%;
    min-width: 1100px;
    margin: 0;
    // background-color: $pageBackgroundCol;
    ;
    
}
:root{
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Warp', cursive;
}

#root{
    background-image: $pageBackgroundImg;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "nav"
    "main"
    "footer"
    ;
}
.navbar{
    display: flex;
    grid-area: nav;
    background-color: $navColor;
    // height: 60px;
    p{
        color: white;
        font-size: 1.5rem;
        margin-top: 10px;
    }
}

// PROFILE

.profile-wrapper{
    grid-area: main;
    padding: $mainPadding;
    
    background-clip: border-box;
    
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "prof-data prof-data prof-data"
    // "side-rank . ."
    ". games .";
}



.profile-data{
    grid-area: prof-data;
    // background-color: $profileBackgroundCol;
    background: $profileBackgroundCol;
    border-radius: 20px;
    border: 1px solid black;
}

.profile{
    display: grid;
    padding: 10px;
    // background-color: $profileBackgroundCol;
    
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "name name name"
    "solo . ."
    "flex . .";
}
.profile-top-imglv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
        width: 8rem;
        height: 8rem;
        border-radius: 20px;
    }
    p{
        background-color: black;
        color: white;
        margin-top: -10px;
        padding: 1px 3px;
        border-radius: 20px;
    }
}

.profile-top{
    grid-area: name;
    display: flex;
}

.profile-top-data{
    display: flex;
    flex-direction: column;
    h2{
        margin-left: 2rem;
        font-size: 4rem;
        margin-top: 0;
    }
}

.profile-queue{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    
    h2{
        margin: 0;
    }
    img{
        width: 5rem;
        height: 5rem
    }
}
.profile-solo{
    @extend .profile-queue;
    grid-area: solo;
    background-color: antiquewhite;
   
}
.profile-flex{
    @extend .profile-queue;
    grid-area: flex;
    background-color: aqua;

}

.profile-queue-data{
    // width: 500px;
    display: flex;
    justify-content: space-between;

    h2{
        margin: 0;
    }
}


//ProfileGames

.profile-games-wrapper{
    grid-area: games;
    margin: 10px 0;
    
    
}
.profile-games{
    
}

.profile-no-games-found{
    @extend .profile-games-wrapper;
    text-align: center;
    box-shadow: $gameBoxShadow;
    border-radius: 20px;
    background-color: $remakeBackground;
    p{
        padding:15px 0;
        font-size: 1.5rem;
    }
    
}
.profile-game{
    
    margin: 10px 0;
    
    // background: white;
    // border-radius: 20px;
    // border-bottom: 1px solid black;
    p{
        // margin: 60px 0;
        
    }
    .profile-game-data{

        box-shadow: $gameBoxShadow;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "date kda stats players"
        "time icons stats-special players"
        ;

        padding: 15px 10px;
        padding-bottom: 0 !important;
        p{
            margin-top: 0;
        }
        $paddingLeft: 15px;
        
        width: calc(100% - $paddingLeft);
        border-radius: 20px;
        padding-left: $paddingLeft;
        // margin-left: 15px;
        
            &.Victory {
                
                background-color: $victoryBackground;
            }
        
            &.Defeat {
                
                background-color: $lostBackground;
            }
            &.Remake {

                background-color: $remakeBackground;
            }
    }

} 
   
.game-data-queue-time{
    grid-area: date;
}

.game-data-time-status{
    grid-area: time;
}

.game-data-icon-kda{
    grid-area: kda;
    display: flex;

    // KDA
    #game-perfect{
        color: rgb(246, 184, 13);
    }

    #game-good{
        color: rgb(12, 106, 230);
    }

    #game-notgood{
        color: rgb(206, 215, 221);
        margin-bottom: 5px;
    }

    #game-kills{
        color: blue;
    }
    #game-deaths{
        color: rgba(154, 23, 23, 0.992);
    }
    #game-assists{
        color: rgba(255, 255, 0, 0.719);
    }
    
    // in game level proprer display
    #inGame-level{
        display: flex;
        flex-direction: column;
        
        .some-wrapper{
            
            width: fit-content ;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
        }
        #img-wrapper{
            max-width: 4rem;
            max-height: 4rem;
            border-radius: 100%;
            text-indent: -8%;
            overflow: hidden;
        }
        img{
            // box-sizing: ;
            border-radius: 100%;
            width: 4.5rem;
            height: 4.5rem;
        }
        #inGamelevel-position{
            margin-top: -1.25rem;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 100%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin:0;
                width: 1.5rem;
                height: 1.35rem;
                // padding-right: 1px;
                // padding-bottom: calc(1rem - 0.7rem);
                color: white;
                text-align: center;
                align-items: center;
               
            }
        }     
    }

    .stats-kda{
        margin-left: 10px;
        p{
            font-size: 1.25rem;
        }
        
        #stats-kill-death-assist{
            margin-bottom: 5px;
            margin-top:10px
        }
    }

    .summonerSpells-wrapper{
        display: flex;
        flex-direction: column;
        padding-left: 5px;

        img{
            padding-top: 2px;
            width: 2rem;
            height: 2rem;
        }
    }
}
.player-boughtItems{
    grid-area: icons;
    display: flex;
    align-items: center;
    img{
        padding-right: 2px;
        width: 2rem;
        height: 2rem;
    }
}

.game-cs-data{
    grid-area: stats;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.game-special-data{
    grid-area: stats-special;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .multikill{
        background-color: $multikillBackground;
        width:6rem;
        border-radius: 20px;
        display:flex;
        justify-content: center;
        p{
            margin:0.25rem 0;
        }

    }
}
.game-players-wrapper{
    grid-area: players;
    display:flex;
   

    .game-players{
        
        display: grid;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "left right";

        img{
            width: 1.5rem;
            height: 1.5rem;
        }
        

            .left-col{
                grid-area: left;
            }
            .right-col{
                grid-area: right;
            }
        
        .icon-name-container{
            display: flex;
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100px; /* Set the maximum width of the container */
            }
        }

    }
}


//footer

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    background-color: $navColor;
}