@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');

$mainPadding: 2rem 6rem 0 6rem;
$pageBackgroundImg: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
$navColor: black;
$profileBackgroundCol: grey;
// background-color: #8BC6EC;
// background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

$profileContentBackCol: white;
html{
    
    // background-color: #8BC6EC;
}
html, body{
    min-height: 100%;
    height: 100%;
    min-width: 1100px;
    margin: 0;
    // background-color: $pageBackgroundCol;
    ;
    
}
:root{
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Warp', cursive;
}

#root{
    background-image: $pageBackgroundImg;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "nav"
    "main"
    "footer"
    ;
}
.navbar{
    display: flex;
    grid-area: nav;
    background-color: $navColor;
    // height: 60px;
    p{
        color: white;
        font-size: 1.5rem;
        margin-top: 10px;
    }
}

// PROFILE

.profile-wrapper{
    grid-area: main;
    padding: $mainPadding;
    
    background-clip: border-box;
    
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "prof-data prof-data prof-data"
    // "side-rank . ."
    ". games .";
}



.profile-data{
    grid-area: prof-data;
    // background-color: $profileBackgroundCol;
    background: $profileBackgroundCol;
    border-radius: 20px;
    border: 1px solid black;
}

.profile{
    display: grid;
    padding: 10px;
    // background-color: $profileBackgroundCol;
    
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "name name name"
    "solo . ."
    "flex . .";
}
.profile-top-imglv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
        width: 8rem;
        height: 8rem;
        border-radius: 20px;
    }
    p{
        background-color: black;
        color: white;
        margin-top: -10px;
        padding: 1px 3px;
        border-radius: 20px;
    }
}

.profile-top{
    grid-area: name;
    display: flex;
}

.profile-top-data{
    display: flex;
    flex-direction: column;
    h2{
        margin-left: 2rem;
        font-size: 4rem;
        margin-top: 0;
    }
}

.profile-queue{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    
    h2{
        margin: 0;
    }
    img{
        width: 5rem;
        height: 5rem
    }
}
.profile-solo{
    @extend .profile-queue;
    grid-area: solo;
    background-color: antiquewhite;
   
}
.profile-flex{
    @extend .profile-queue;
    grid-area: flex;
    background-color: aqua;

}

.profile-queue-data{
    // width: 500px;
    display: flex;
    justify-content: space-between;

    h2{
        margin: 0;
    }
}


//ProfileGames

.profile-games-wrapper{
    grid-area: games;
    margin: 10px 0;
    
    
}
.profile-games{
    
}

.profile-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    
    // background: white;
    // border-radius: 20px;
    // border-bottom: 1px solid black;
    p{
        // margin: 60px 0;
        
    }
    .profile-game-data{
        $paddingLeft: 15px;
        
        width: calc(100% - $paddingLeft);
        border-radius: 20px;
        padding-left: $paddingLeft;
        
            &.won {
                /* Styles for the parent div when the child has "won" in its class */
                background-color: green;
            }
        
            &.lost {
                /* Styles for the parent div when the child has "lose" in its class */
                background-color: red;
            }
    }

} 
   

//footer


    
.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    background-color: $navColor;
}