@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');


@font-face {
    font-family: 'League';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/League.otf'), url('./fonts/League.woff') format('woff');
}

@font-face {
    font-family: 'Dash';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/facon.bold-italic.otf'), url('./fonts/facon.bold-italic.woff') format('woff');
}
$mainPadding: 2rem 6rem 0 6rem;
$pageBackgroundImg: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
$navColor: black;
$profileBackgroundCol: rgba(51, 62, 52, 0.496);
// background-color: #8BC6EC;
// background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

$profileContentBackCol: white;


$gameBoxShadow: 8px 8px 24px 0px rgb(8, 9, 28);
$victoryBackground: rgba(34, 242, 76, 0.545);
$lostBackground: rgb(255 82 82 / 71%);
$remakeBackground: rgba(112, 108, 97);

$multikillBackground: rgb(250, 65, 65);

$fontColor: white;
$fontColorDarker: darken($fontColor, 12%);
$fontColorPlayerLinks: rgb(178, 178, 178);

$tempBack: rgb(14 15 22);
$tempBackDarker:rgb(32, 32, 32);

// for autocomplete background color
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $tempBackDarker inset;
    -webkit-text-fill-color: $fontColor;

}

html{
    
    // background-color: #8BC6EC;
}
html, body{
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 800px;
    margin: 0;
    // background-color: $pageBackgroundCol;
    ;
    
}
:root{
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Warp', cursive;
}

#root{
    // background-image: $pageBackgroundImg;
    background-color: $tempBack;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "nav"
    "main"
    "footer"
    ;
}
.logo{
    display: flex;
    

    #summoner{
        padding-right: 0.3rem;
        font-style: italic;
        font-family: "League" !important;
        
        
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
    #dash{
        font-family: "Dash" !important;
        background: #fceabb;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ffbb00, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #f6d501, #a69053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }
}
.navbar{
    display: flex;
    grid-area: nav;
    @extend .logo;
    
    background-color: $navColor;
    // height: 60px;
    p{
        background: none;
        color: $fontColor;
        font-size: 1.5rem;
        margin: 15px 0 15px 10px;
    }
    a, h1{
        display: flex;
        text-decoration: none;
        background: none;
        &:hover{
            p{
                color: $fontColorDarker;
            }
        }
    }
}



.startPage{
   display: flex;
   flex-direction: column;

}
.startPage-title{
    display: flex;
    color: $fontColor;
    justify-content: center;
    font-size: 2rem;
}
.searchForm-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

#search-form{
    display: flex;
    // align-items: center;
    background-color: $tempBackDarker;
    border-radius: 4rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 50rem;
    height: 3rem;

    label{
        display: flex;
        color: $fontColorDarker;
    }
}

// for selected button style
.selected-region{
    button{
        background-color: inherit !important;
        border:none !important;
        padding: 0;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        img{
            margin-bottom: 2px;
            width: 1rem;
            height: 1rem;
        }
        
    }
}

.expanded img{
    transform: scaleY(-1);
    
}
.searchButtons{
 
}
.selectRegionWrapper{
    width: 15rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // all buttons in region
    button{
        color: $fontColorPlayerLinks;
        width: 100%;
        height: 2rem;
        background-color: $tempBackDarker;
        border:none;
        border-top: 1px solid black;
        cursor: pointer;

        &:hover{
            background-color: $remakeBackground;
        }
        
    }

    // @extend .searchButtons;
    
}
.selectRegion{
    margin-right: 10px;
    display: flex;
    flex-direction: column;

    
}


.right-side-search{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}


.search{
    border-left: 1px solid black;
    padding-left: 10px;
    width: 80%;
    input{
        border:none;
        background-color: inherit;
        width: 80%;
        height: 2rem;
        color: white;

        &:focus-visible{
            border: none;
            outline: none;
        }
    }
}
.regions-list{
    display: flex;
    flex-direction: column;
    @extend .searchButtons;
}

#search-butt{
    background: none;
    border: none;
    cursor: pointer;
    color: $fontColorDarker;
}


// PROFILE

.profile-wrapper{
    grid-area: main;
    padding-top: 1rem;
    // padding: $mainPadding;
    
    background-clip: border-box;
    
    display: grid;
    grid-template-columns: 1fr 65rem 1fr;
    // grid-template-rows: 35rem 1fr;
    grid-template-areas: 
    ". prof-data ."
    // "side-rank . ."
    ". games .";

    align-content: space-between;
}


.profile-data{
    grid-area: prof-data;
    padding-bottom: 10px;
    // background-color: $profileBackgroundCol;
    // background: $profileBackgroundCol;
    border-radius: 20px;
    // border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    //grid-auto-rows: 30rem;
    
    grid-template-areas: 
    "prof-data prof-masteries";

    p{
        color: $fontColorDarker;
    }
}
.profile-playerData-wrapper{
    display: grid;
    
}
.profile{
    display: grid;
    row-gap: 10px;
    
    // background-color: $profileBackgroundCol;
    
    grid-template-columns: 1fr;
    grid-template-rows: 8rem auto auto;
    grid-template-areas: 
    "name "
    "solo "
    "flex ";

    hr{
        margin: 0 0 5px 0;
        border: 1px solid $tempBack;
    }
}

.profile-top-imglv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px 5px;
    img{
        width: 6rem;
        height: 6rem;
        border-radius: 20px;
    }
    p{
        background-color: black;
        color: white;
        margin-top: -10px;
        padding: 1px 3px;
        border-radius: 20px;
        margin-bottom: 0;
    }
}

.profile-top{
    grid-area: name;
    display: flex;
    
    background-color: $profileBackgroundCol;
    border-radius: 10px;
}


.profile-top-data{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    h2{
        color: $fontColor;
        margin:0;
        font-size: 2rem;
       
    }
}

.profile-queue{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 10px;
    padding-bottom: 10px;
    
    h2{
        margin: 0;
        color: $fontColorDarker;
    }
    img{
        margin-top: 0.5rem;
        width: 5rem;
        height: 5rem
    }
    .profile-winratio{
        
    }
    .profile-rank-lp{
        h2{
            color: $fontColor
        }
    }
}
.profile-solo{
    @extend .profile-queue;
    grid-area: solo;
    background-color: $profileBackgroundCol;
   
}
.profile-flex{
    @extend .profile-queue;
    grid-area: flex;
    background-color: $profileBackgroundCol;

}

.profile-queue-data{
    // width: 500px;
    display: flex;
    justify-content: space-between;

    h2{
        margin: 0;
    }
}
.profile-rank-img{
    background-color: rgb(21, 21, 21);
    border-radius: 100%;
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 0.2rem;
    text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;

    p{
        margin: 0;
    }
}
.profile-miniseries{
    display: flex;
    justify-content: space-evenly;
    .profile-miniseries-game{
        display: flex;
        text-align: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;
        background-color: grey;
        border-radius: 100%;

        &.l{
            background-color: $lostBackground;
        }
        &.w{
            background-color: $victoryBackground;
        }
        &.b{
            background-color: $remakeBackground;
        }
        p{
            margin: 0;
        }
    }
}


#reload-data{
    margin-top: 1rem; 
}
// Masteries Data
.profile-masteries-wrapper{
    grid-area: prof-masteries;
    display: grid;
}

.profile-masteries{
    // grid-template-rows: repeat(3, 7rem);
    display: grid;
    
    // align-content: space-between;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.profile-masteries-title{
    text-align: center;
    h2{
        margin-top: 0;
        margin-bottom: 5px;
    }
    
}

.masterie-img-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    // align-content: space-between;
    // grid-template-rows:5fr 5fr 5fr;
    grid-template-rows: auto;
    row-gap: 10px;

}

.masterie-img{
    margin-left: 10px;
    border-radius: 10px;
    background-color: $profileBackgroundCol;
    height: fit-content;
    display:flex;
    
    row-gap: 10px;
    img{
        border-radius: 10px;
        width: 6rem;
        height: 6rem;
    }
}
.masterie-img-data{
    display:flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
    p{
        margin: 0;
    }
}

//Last games

.masterie-lastGames{
    @extend .masterie-img;
    //dont change
    height: auto;
    padding: 10px 0;
    // min-height: 10rem;

}
.masterie-nolastGamesData{
    text-align: center;
    h2{
        margin-top: 0;
        margin-left: 10px;
        color: $fontColorDarker;
    }
}
.masterie-lastGamesData{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    h2{
        margin: 0;
        color: $fontColorDarker;
    }
}
.masterie-wrProgressBar{

    svg{
        height: 6rem;

    }

}
.masteries-wl-chart-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.masteries-wl{
    display: flex;
    p{
        margin: 5px 0;
    }
}

.masterie-roles{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    margin-left: 20px;

    .masterie-role{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            height: 2rem;
            width: 2rem;
            
        }
    }

    .progressBar{
        display: flex;
    }
    
}
.progressBar{
    progress{
        transform: rotate(-90deg);
        inline-size: 4.2rem;
        vertical-align: 0 !important;
        block-size: 1rem;
        border-radius: 0;
        margin-bottom: 2rem;
    }
    
}
//ProfileGames
.fetchMore-wrapper{
    width: 100%;
}
.fetchMore{

    width: 100%;
    // padding:10px 0;
    // display: flex;
    // justify-content: center;
    text-align: center;
    bottom: 100%;
    button{
        width: 100%;
    }
    
}
.profile-games-wrapper{
    grid-area: games;
    margin: 10px 0;
    
    
}

.profile-games{
    
}
.profile-games-loading{
    text-align: center;
    
    
}
.profile-no-games-found{
    @extend .profile-games-wrapper;
    text-align: center;
    box-shadow: $gameBoxShadow;
    border-radius: 20px;
    background-color: $remakeBackground;
    p{
        padding:15px 0;
        font-size: 1.5rem;
    }
    
}
.profile-game{
    
    margin: 10px 0;
    
    // background: white;
    // border-radius: 20px;
    // border-bottom: 1px solid black;
    p{
         margin-bottom: 0.5rem;
        
    }
    .profile-game-data{

        box-shadow: $gameBoxShadow;

        display: grid;
        grid-template-rows: 5rem 4.5rem;
        grid-template-columns: 10rem repeat(3, minmax(12rem, 1fr));
        // grid-template-columns: repeat(4, minmax(12rem, 1fr));
        // grid-template-columns: repeat(4 1fr);
        grid-template-areas: 
        "date kda stats players"
        "time icons stats-special players"
        ;

        padding: 10px 15px;
        padding-bottom: 0 !important;
        // align-items: center;
        p{
            margin-top: 0;
            
        }
        $paddingLeft: 15px;
        
        width: calc(100% - 2*$paddingLeft);
        border-radius: 20px;
        // padding-left: $paddingLeft;
        // margin-left: 15px;
        
            &.Victory {
                
                background-color: $victoryBackground;
                #gamemode{
                    color: rgba(lighten($victoryBackground, 20%), 1);
                }
            }
        
            &.Defeat {
                background-color: $lostBackground;
                #gamemode{
                    color: rgba(lighten($multikillBackground, 15%), 1);
                }
            }
            &.Remake {

                background-color: $remakeBackground;
            }
    }

} 
   
.game-data-queue-when{
    grid-area: date;

    p{
        color: $fontColorPlayerLinks;
        
        
    }


}

.game-data-time-status{
    grid-area: time;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        color: $fontColorPlayerLinks;
    }
}

.game-data-icon-kda{
    grid-area: kda;
    display: flex;
    align-items: flex-start;
    .kda-container{
        p{
            margin-bottom: 0;
        }
        
    }
    // KDA
    #game-perfect{
        color: rgb(246, 184, 13);
    }

    #game-good{
        color: rgb(14, 222, 215);
    }

    #game-notgood{
        color: rgb(206, 215, 221);
    }

    #game-kills{
        color: rgb(49, 19, 184);
    }
    #game-deaths{
        color: $multikillBackground;
    }
    #game-assists{
        color: rgba(255, 255, 0, 0.719);
    }
    
    // in game level proprer display
    #inGame-level{
        display: flex;
        flex-direction: column;
        
        .some-wrapper{
            
            width: fit-content ;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
        }
        #img-wrapper{
            max-width: 4rem;
            max-height: 4rem;
            border-radius: 100%;
            text-indent: -8%;
            overflow: hidden;
        }
        img{
            // box-sizing: ;
            border-radius: 100%;
            width: 4.5rem;
            height: 4.5rem;
        }
        #inGamelevel-position{
            margin-top: -1.25rem;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 100%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin:0;
                width: 1.5rem;
                height: 1.35rem;
                // padding-right: 1px;
                // padding-bottom: calc(1rem - 0.7rem);
                color: white;
                text-align: center;
                align-items: center;
               
            }
        }     
    }

    .stats-kda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        p{
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        
        #stats-kill-death-assist{
            margin-top:0;
        }
        #game-killpart{
            margin: 0;
            color: rgba(lighten($multikillBackground, 15%), 1);
        }
    }

    .summonerSpells-wrapper{
        display: flex;
        flex-direction: column;
        padding-left: 5px;

        img{
            padding-top: 2px;
            width: 2rem;
            height: 2rem;
        }
    }

    .runes-wrapper{
        @extend .summonerSpells-wrapper;
        width: 2rem;
        // height: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .tooltip-container:first-of-type img{
            
            border-radius: 50%;
            background-color: black;
            // height: 1.75rem;
            // width: 1.75rem;
        }
    }
}
.player-boughtItems{
    grid-area: icons;
    display: flex;
    align-items: center;
    img{
        padding-right: 2px;
        width: 2.25rem;
        height: 2.25rem;
    }
}

.game-cs-data{
    grid-area: stats;
    display:flex;
    flex-direction: column;
    align-items: center;

    p{
        color: $fontColorPlayerLinks;
    }
    
}

.game-special-data{
    grid-area: stats-special;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .multikill{
        background-color: $multikillBackground;
        width:6rem;
        border-radius: 20px;
        display:flex;
        justify-content: center;
        p{
            color: $fontColorDarker;
            margin:0.25rem 0;
        }

    }
}
.game-players-wrapper{
    grid-area: players;
    display:flex;
   
   

    .game-players{
        
        display: grid;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "left right";

        img{
            width: 1.5rem;
            height: 1.5rem;
        }
        a{
            text-decoration: none;
            color: $fontColorPlayerLinks;
            p{
                font-family: "Roboto", sans-serif;
               
            }
            #checked-player{
                font-weight:600;
                color: rgb(255, 255, 255);

                &:hover{
                    color: black;
                }
            }
            &:hover{
                color: black;
            }
        }
        

            .left-col{
                grid-area: left;
            }
            .right-col{
                grid-area: right;
            }
        
        .icon-name-container{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            p{
                margin-bottom: 0;
                margin-left: 0.2rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
            }
        }

    }
}
.item6-visionData{
    p{
        margin: 5px 0;
    }
    
}

.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1;
    opacity: 0;
    min-width: 5rem;
    max-width: 25rem;
    width: max-content;
    transition: opacity 0.3s;
    p{
        color: black !important;
        font-size: 1rem !important;
    }
    
  }
  .tooltip-prof{
    @extend .tooltip;
    min-width:1.5rem;
    p{
        margin:0;
        text-align: center;
    }
  }
  
  .tooltip-container:hover .tooltip {
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    h2 {
      margin-top: 5px;
    }
    animation: tooltipFadeIn 0.15s 0.25s forwards;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
  }
  
  @keyframes tooltipFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

//footer

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    background-color: $navColor;
}

//Buttons
.button{
    background-color: black;
    border: none;
    color: $multikillBackground;
    height: 3rem;
    width : 8rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid black;

    &:hover {
        cursor: pointer;
        /* Other hover styles if needed */
        background-color: $fontColorDarker;
      }
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;

    .err-message{
        font-size: 3rem;
        color: $fontColorDarker;
    }
    .error-gif{
        display: flex;
        justify-content: center;
    }
}

#loading{

    svg{ 
        color: $fontColorDarker;
    }
    
    
}